.headerContainer {
  position: relative;
}
.userImg {
  width: 380px;
  height: 400px;
  object-fit: cover;
}

.nameContainer {
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.userName {
  font-size: 2rem;
}

.btnHeard {
  border: none;
  background-color: inherit;
  position: absolute;
  left: 125%;
  top: 100px;
  font-size: 2rem;
}
